# DynamoDB Local Configuration
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_REGION=local
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

# Cloud Development Configuration
DYNAMODB_REGION=us-east-1
MOVIES_TABLE=cinecloud-movies-dev
SHOWTIMES_TABLE=cinecloud-showtimes-dev
BOOKINGS_TABLE=cinecloud-bookings-dev
ROOMS_TABLE=cinecloud-rooms-dev
RATINGS_TABLE=cinecloud-ratings-dev
USERS_TABLE=cinecloud-users-dev
NOTIFICATIONS_TABLE=cinecloud-notifications-dev

# Cloud Production Configuration
DYNAMODB_REGION=us-east-1
MOVIES_TABLE=cinecloud-movies-prod
SHOWTIMES_TABLE=cinecloud-showtimes-prod
BOOKINGS_TABLE=cinecloud-bookings-prod
ROOMS_TABLE=cinecloud-rooms-prod
RATINGS_TABLE=cinecloud-ratings-prod
USERS_TABLE=cinecloud-users-prod
NOTIFICATIONS_TABLE=cinecloud-notifications-prod